<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're here to help!</h2>
                <hr class="light">
                <p class="text-faded">We're a small IT shop, but that doesn't mean we don't like mean projects.  Reach out with any questions (no matter how small) and let's do some cool stuff together.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
