<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Agile Dynamic</h1>
            <h2>In the grand scheme of things we like to think we're different...because we care.</h2>
            <hr>
            <p>Have a random project?  Want an opinion on a technology decision?  We love tech, so reach out and let's see what we can do together!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
