<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
                    <h3>Databases</h3>
                    <p class="text-muted">Need database work? We speak relational.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Websites</h3>
                    <p class="text-muted">Static, CMS, or somewhere in between.  We can help you build your website.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Cloud</h3>
                    <p class="text-muted">Switching from on-premise to the cloud?  Or want to know what the cloud offers?  We can navigate it all.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Workstations</h3>
                    <p class="text-muted">Desktops, Laptops, Servers. We can install & service them all.</p>
                </div>
            </div>
        </div>
    </div>
</section>
